* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: black;
  background-color: #256E5E;
}

img {
  max-width: 400px;
}

.red_outline {
  border: 1px solid red;
  /* padding: 1px 3px 5px 4px; /*top right bottom left*/
  padding: 20px 35px; /* top&bottom left&right*/
  /*padding: 5px 4px 3px; /* top left&right bottom */
  /* */
  background-color: #AA6C39;
  margin: 10px;
}

#article1 section {
  color: blue;
}

a {
  text-decoration: none;
  color: firebrick;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: yellow;
}

a:visited {
  color: black;
}





