* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: black;
  background-color: #748BA7;
}

.hidden {
  display: none;
}

.min_input {
  min-width: 500px;
}

img {
  max-width: 400px;
}

.red_outline {
  border: 1px solid red;
  /* padding: 1px 3px 5px 4px; /*top right bottom left*/
  padding: 20px 35px; /* top&bottom left&right*/
  /*padding: 5px 4px 3px; /* top left&right bottom */
  /* */
  margin: 10px;
}

#article1 {
  background-color: #FFEDAA;
  font-family: serif;
  font-size: 20px;
  color: tomato;
  line-height: 1.5; 
  padding: 10px;
  border: thick solid black;
  border-radius: 5px;
}

#article2 {
  background-color: lightgreen;
  font-family: monospace;
  font-size: 16px;
  color: darkblue;
  line-height: 1.5em; 
  padding: 20px;
  border: thick solid orange;
  border-radius: 2em;

}

#article3 {
  background-color: lightblue;
  font-family: cursive;
  font-size: 18px;
  color: orange;
  line-height: 125%; 
  padding: 30px;
  border: thick solid blue;
  border-radius: 8%;

}

a {
  text-decoration: none;
  color: firebrick;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: yellow;
}

a:visited {
  color: black;
}





